@font-face {
    font-family: "Roboto-Regular";
    src: local(''),
    url("../fonts1312/Roboto-Regular.woff") format("woff"),
    url("../fonts1312/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Bold";
    src: local(''),
    url("../fonts1312/Roboto-Bold.woff") format("woff"),
    url("../fonts1312/Roboto-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Medium";
    src: local(''),
    url("../fonts1312/Roboto-Medium.woff") format("woff"),
    url("../fonts1312/Roboto-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: local(''),
    url("../fonts1312/RobotoSlab-Bold.woff") format("woff"),
    url("../fonts1312/RobotoSlab-Bold.woff2") format("woff2");
}

